* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --gray-color: #3c3c43;
  --underline-color: #7f0019;
}
.promo-bar {
  display: flex;
  background-color: var(--gray-color);
  width: 100%;
  height: 2rem;
  overflow-x: auto;
}
.group {
  display: flex;
  align-items: center;
  gap: 1em;
  animation: spin 20s linear infinite;
  padding-right: 1em;
}
.promo-bar .item {
  flex: 0 0 30em;
  color: white;
  font-size: 0.875rem;
  text-align: center;
  align-content: center;
  position: relative;
  padding: 0 1rem;
}

.item a {
  color: white;
  text-decoration: none;
}
.item::after {
  content: "|";
  position: absolute;
  right: 0;
  color: white;
}
.promo-bar::-webkit-scrollbar {
  display: none;
}

@keyframes spin {
  from {
    translate: 0;
  }
  to {
    translate: -100%;
  }
}

.navbar {
  background-color: white;
  position: sticky;
  top: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.navbarSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.65rem 5%;
}
.search-bar {
  display: flex;
  position: relative;
  width: fit-content;
  padding-bottom: 0.25rem;
}
.search-bar img {
  width: 1rem;
  height: 1rem;
}
#search-input {
  border: none;
  outline: none;
  font-size: 1rem;
  margin-left: 0.5rem;
  width: 12rem;
}
.search-bar::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: var(--gray-color);
  bottom: 0;
  left: 0;
}
.center-section img {
  max-width: 150px;
  width: 100%;
  height: auto;
}

@media (min-width: 1260px) {
  .center-section img {
    max-width: 205px;
    width: 202px;
    height: 2em;
  }
}

#icon-list li {
  display: inline-block;
  margin-left: 0.75rem;
}

#icon-list img {
  width: 1.25rem;
  height: 1.25rem;
}
#icon-list img:hover {
  cursor: pointer;
  filter: opacity(0.5);
}
.navigation-items ul {
  color: var(--gray-color);
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0.75rem 0;
  gap: clamp(1rem, 3vw, 2rem);
  font-size: clamp(0.875rem, 2vw, 1rem);
  font-family: Helvetica, Arial, sans-serif;
  flex-wrap: wrap;
}

.navigation-items li {
  cursor: pointer;
  position: relative;
}

.navigation-items li::after {
  content: "";
  position: absolute;
  height: 2px;
  left: 0;
  bottom: 0;
  width: 0;
  background: var(--underline-color);
  transition: width 0.2s;
}

.navigation-items li:hover::after {
  width: 100%;
}
.navigation-items a {
  text-decoration: none;
  color: var(--gray-color);
}
