* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

:root {
  --gray-color: #3c3c43;
  --underline-color: #7f0019;
  --red-color: #7f0019;
  --widget-margin: 5rem;
  --max-width: 1920px;
  --light-gray-color: #f5f3f2;
  --gutter: 6.25rem;
  --black-color: #212121;
}

h2,
h3,
h4,
h5,
h6 {
  margin-top: 2.25rem;
}

.promo-bar {
  display: flex;
  background-color: var(--gray-color);
  width: 100%;
  height: 2rem;
  overflow-x: auto;
}

.group {
  display: flex;
  align-items: center;
  gap: 1em;
  animation: spin 20s linear infinite;
  padding-right: 1em;
}

.promo-bar .item {
  flex: 0 0 30em;
  color: white;
  font-size: 0.875rem;
  text-align: center;
  align-content: center;
  position: relative;
  padding: 0 1rem;
}

.item a {
  color: white;
  text-decoration: none;
}

.item::after {
  content: "|";
  position: absolute;
  right: 0;
  color: white;
}

.promo-bar::-webkit-scrollbar {
  display: none;
}

@keyframes spin {
  from {
    translate: 0;
  }
  to {
    translate: -100%;
  }
}

header {
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 4px 7px -1px rgba(0, 0, 0, 0.05),
    0 2px 7px -2px rgba(0, 0, 0, 0.05);
}

.navbar {
  background-color: white;
  display: flex;
  flex-direction: column;
}

.navbar-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.65rem 5%;
}

.search-bar {
  display: flex;
  position: relative;
  width: fit-content;
  padding-bottom: 0.25rem;
}

.search-bar img {
  width: 1rem;
  height: 1rem;
}

.search-input {
  border: none;
  outline: none;
  font-size: 1rem;
  margin-left: 0.5rem;
  width: clamp(6rem, 12vw, 12rem);
}

.search-bar::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: var(--gray-color);
  bottom: 0;
  left: 0;
}

.center-section img {
  max-width: 150px;
  width: 100%;
  height: auto;
}

@media (min-width: 1260px) {
  .center-section img {
    max-width: 205px;
    width: 100%;
    height: 2em;
  }
}

.icon-list li {
  display: inline-block;
  margin-left: 0.75rem;
}

.icon-list img {
  width: 1.25rem;
  height: 1.25rem;
}

.icon-list img:hover {
  cursor: pointer;
  filter: opacity(0.5);
}

.navigation-items ul {
  color: var(--gray-color);
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0.75rem 0;
  gap: clamp(1rem, 3vw, 2rem);
  font-size: clamp(0.875rem, 2vw, 1rem);
  font-family: Helvetica, Arial, sans-serif;
  flex-wrap: wrap;
}

.navigation-items li {
  cursor: pointer;
  position: relative;
}

.navigation-items li::after {
  content: "";
  position: absolute;
  height: 2px;
  left: 0;
  bottom: 0;
  width: 0;
  background: var(--underline-color);
  transition: width 0.2s;
}

.navigation-items li:hover::after {
  width: 100%;
}
.navigation-items a {
  text-decoration: none;
  color: var(--gray-color);
}

.sale-container {
  display: grid;
  grid-template-columns: 1fr 60%;
  grid-template-rows: auto;
  position: relative;
  grid-gap: 1rem;
  background-color: #d6ad7f;
  padding: var(--widget-margin) 0;
  aspect-ratio: 2 / 0.9;
  align-items: center;
}

.sale-text-container {
  line-height: 1.5rem;
  margin-left: 5rem;
  color: var(--red-color);
}

.promotion-title-text {
  font-size: clamp(1.8rem, 2.6vmax, 3rem);
  line-height: clamp(2rem, 2.8vmax, 3.2rem);
  letter-spacing: 0.3px;
  color: #7f0019;
  display: block;
  margin: 0;
  padding: 0.5rem 0;
}

.promotion-title-text-promotion {
  font-size: clamp(3.2rem, 6.6vmax, 8.5rem);
  line-height: clamp(3.4rem, 6.9vmax, 8.7rem);
  letter-spacing: 1px;
  color: #7f0019;
  display: block;
  margin: 0;
}

.promotion-subtitle-text {
  font-size: clamp(1.1rem, 1.4vmax, 1.4rem);
  line-height: clamp(1.3rem, 1.5vmax, 1.6rem);
  letter-spacing: 0.3px;
  color: #7f0019;
  font-weight: normal;
  display: block;
  margin: 0;
  padding: 0;
}

.sale-text-container h4:last-of-type {
  font-weight: normal;
  letter-spacing: 1px;
}

.sale-carousel-wrapper {
  width: 100%;
  position: relative;
}

.sale-carousel {
  display: flex;
  gap: 0.5rem;
  overflow-x: auto;
}
.sale-carousel::-webkit-scrollbar {
  display: none;
}

.sale-carousel-card {
  text-align: center;
  text-decoration: none;
  color: inherit;
  display: block;
  gap: 0.5rem;
  position: relative;
}

.sale-carousel-card p::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -0.2em;
  width: 0;
  height: 2px;
  background-color: var(--underline-color);
  transition: width 0.2s;
}

.sale-carousel-card:hover p::after {
  width: 100%;
}

.sale-carousel-card img {
  width: 100%;
  height: auto;
  display: block;
  opacity: 0.92;
  transition: opacity 0.3s ease-in-out;
  aspect-ratio: 3 / 4;
  object-fit: cover;
}

.sale-carousel-card:hover img {
  opacity: 1;
}

.sale-carousel-text {
  position: absolute;
  letter-spacing: 0.3px;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 50;
  font-size: clamp(1rem, 1vmax, 1.1rem);
  color: #fff;
  white-space: nowrap;
  font-weight: bold;
  text-align: center;
  pointer-events: none;
}

.sale-carousel-text::after {
  content: "";
  background-color: var(--underline-color);
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: -0.2rem;
}

.highlights-container {
  background-color: var(--light-gray-color);
}

.highlights-section {
  padding-top: calc(var(--widget-margin) / 3);
  --max-width: 1920px;
  inline-size: Min(
    calc(100% - calc(2 * var(--widget-margin))),
    var(--max-width)
  );
  margin-inline: auto;
}
.highlights-section h4 {
  font-size: clamp(0.5rem, 2.5vmax, 1.5rem);
  margin-bottom: 1rem;
  color: var(--gray-color);
  font-weight: bold;
  anchor-name: --highlights-carousel;
}

.highlights-carousel-wrapper {
  width: 100%;
  position: relative;
}

.highlights-carousel {
  display: flex;
  justify-content: flex-start;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 0.5rem;
  cursor: grab;
  padding-bottom: 0.5rem;
}
.highlights-carousel::-webkit-scrollbar {
  display: none;
}
.highlights-carousel::scroll-button(left),
.highlights-carousel::scroll-button(right) {
  font-size: clamp(0.5rem, 2.5vmax, 1.2rem);
  translate: -100%;
  content: " →";
  cursor: pointer;
  border: none;
  background-color: inherit;
  position: fixed;
  position-anchor: --highlights-carousel;
  position-area: right center;
}
.highlights-carousel::scroll-button(left) {
  translate: -200%;
  content: "←";
}

.highlights-carousel > a {
  flex: 0 0 auto;
  width: calc((100vmax - 2.5 * var(--widget-margin)) / 4);
  max-width: 460px;
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative;
}
.highlights-carousel img {
  width: 100%;
  height: auto;
  display: block;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.highlights-carousel a:hover img {
  transform: scale(1.01);
}

.highlights-carousel p {
  position: relative;
  display: inline-block;
  font-size: clamp(0.9rem, 1vmax, 1rem);
  margin: 0.6rem 0;
  text-align: left;
  font-weight: bold;
  line-height: 1.4;
  color: var(--gray-color);
  text-decoration: none;
}

.highlights-carousel p::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -0.2em;
  width: 0;
  height: 3px;
  background-color: var(--underline-color);
  transition: width 0.2s;
}

.highlights-carousel a:hover p::after {
  width: 100%;
}

.hero-container {
  inline-size: Min(calc(100% - calc(2 * var(--gutter))), var(--max-width));
  margin-inline: auto;
}
.hero-carousel-wrapper {
  position: relative;
  width: 100%;
  margin-top: var(--widget-margin);
  margin-bottom: var(--widget-margin);
  overflow: hidden;
  anchor-name: --hero-carousel;
  aspect-ratio: 2.5 / 1;
}

.hero-carousel {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
  gap: 0;
  transition: transform 0.5s ease;
  scroll-snap-type: x mandatory;
}

.hero-carousel-card {
  scroll-snap-align: start;
  position: relative;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-carousel-card img {
  width: 100%;
  height: auto;
}

.hero-carousel-card-text {
  position: absolute;
  width: calc(
    100% - (2 * (clamp(2rem, 2vmax, 3rem) + 2 * clamp(1.5rem, 2.3vmax, 2.4rem)))
  );
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: left;
  z-index: 2;
}

.hero-carousel-card-text h2 {
  font-size: clamp(2rem, 5vmax, 4rem);
  margin: 0;
  padding: 0;
  line-height: 1.1;
  font-weight: bold;
  filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.5));
}

.hero-carousel-card-text a {
  font-size: clamp(1rem, 1.1vmax, 1.1rem);
  margin: 0;
  padding: 0;
  line-height: 1.1;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.5));
}

.hero-carousel-card-text a:hover {
  cursor: pointer;
}

.hero-carousel-card-text a:hover span {
  margin-left: 0.2rem;
}

.hero-carousel::scroll-button(left),
.hero-carousel::scroll-button(right) {
  font-size: clamp(0.5rem, 2.5vmax, 1.2rem);
  content: " →";
  cursor: pointer;
  border: none;
  position: fixed;
  position-anchor: --hero-carousel;
  z-index: 10;
  background-color: var(--black-color);
  padding: clamp(0.5rem, 1vmax, 1rem);
  color: white;
}

.hero-carousel::scroll-button(left):disabled,
.hero-carousel::scroll-button(right):disabled {
  opacity: 0.3 !important;
  cursor: default !important;
}

.hero-carousel::scroll-button(left) {
  content: "←";
}

.hero-carousel:hover::scroll-button(left) {
  position-area: center left;
  translate: 100%;
}

.hero-carousel:hover::scroll-button(right) {
  position-area: center right;
  translate: -100%;
}

.hero-carousel::scroll-button(left):hover,
.hero-carousel::scroll-button(right):hover {
  opacity: 0.8;
}

.best-seller-section {
  inline-size: Min(
    calc(100% - calc(2 * var(--widget-margin))),
    var(--max-width)
  );
  max-width: 1920px;
  margin-inline: auto;
  margin-bottom: var(--widget-margin);
}

.best-seller-section h4 {
  font-size: 18px;
  margin-bottom: 1rem;
  color: var(--gray-color);
  font-weight: bold;
  letter-spacing: 0.25px;
}

.best-seller-grid {
  display: grid;
  align-items: start;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.5rem;
}

.best-seller-grid-card {
  text-align: center;
  text-decoration: none;
  color: inherit;
  display: block;
  position: relative;
}

.best-seller-grid-card p::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -0.2em;
  width: 0;
  height: 3px;
  background-color: var(--underline-color);
  transition: width 0.2s;
}

.best-seller-grid-card:hover p::after {
  width: 100%;
}

.best-seller-grid-card img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  opacity: 0.92;
  transition: all 0.4s ease-in-out;
}

.best-seller-grid-card:hover img {
  transform: scale(1.01);
}

.best-seller-grid-text {
  position: absolute;
  bottom: 1.2rem;
  left: 1.5rem;
  z-index: 50;
  text-align: left;
  font-size: clamp(1rem, 1vmax, 1.1rem);
  color: #fff;
  display: inline;
  white-space: nowrap;
  font-weight: bold;
  filter: drop-shadow(0 0 1.5rem rgba(33, 33, 33, 0.6));
}

.best-seller-grid-text::after {
  content: "";
  background-color: var(--underline-color);
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: -0.2rem;
}

.furniture-section {
  display: grid;
  grid-template-columns: minmax(0, 6fr) minmax(0, 4fr);
  gap: 0 2rem;
  inline-size: Min(
    calc(100% - calc(2 * var(--widget-margin))),
    var(--max-width)
  );
  margin-inline: auto;
  margin-bottom: var(--widget-margin);
}

.furniture-left,
.furniture-right {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.furniture-left h4,
.furniture-right h4 {
  margin-top: 0px;
  margin-bottom: 2rem;
}

.furniture-carousel-wrapper {
  grid-area: carousel;
  width: 100%;
  height: 100%;
  position: relative;
  anchor-name: --furniture-carousel;
}

.furniture-carousel {
  scroll-behavior: smooth;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  height: 100%;
  display: flex;
  gap: 0.7rem;
}

.furniture-carousel::-webkit-scrollbar {
  display: none;
}

.furniture-carousel-card {
  scroll-snap-align: start;
  position: relative;
  width: 50%;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.furniture-carousel img {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
}

.furniture-carousel::scroll-button(left),
.furniture-carousel::scroll-button(right) {
  font-size: clamp(0.5rem, 2.5vmax, 1.2rem);
  content: " →";
  cursor: pointer;
  border: none;
  position: fixed;
  position-anchor: --furniture-carousel;
  z-index: 10;
  background-color: var(--black-color);
  padding: clamp(0.5rem, 1vmax, 1rem);
  color: white;
}

.furniture-carousel::scroll-button(left):disabled,
.furniture-carousel::scroll-button(right):disabled {
  opacity: 0.3 !important;
  cursor: default !important;
}

.furniture-carousel::scroll-button(left) {
  content: "←";
}

.furniture-carousel:hover::scroll-button(left) {
  position-area: center left;
  translate: 100%;
}

.furniture-carousel:hover::scroll-button(right) {
  position-area: center right;
  translate: -100%;
}

.furniture-carousel::scroll-button(left):hover,
.furniture-carousel::scroll-button(right):hover {
  opacity: 0.8;
}

.furniture-carousel-card .card-image {
  width: 100%;
  height: 100%;
  position: relative;
}

.furniture-carousel-card .card-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.furniture-carousel-card .card-image .hover-img,
.furniture-carousel-card .card-image:hover .default-img {
  opacity: 0;
}

.furniture-carousel-card .card-image:hover .hover-img {
  opacity: 1;
}

.card-body {
  padding: 0.5rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.card-title a {
  text-decoration: none;
  color: var(--gray-color);
  transition: color 0.15s ease;
}
.card-title a:hover {
  color: #757575;
}

.product-dimensions {
  font-size: 1rem;
  line-height: 100%;
  font-weight: 400;
  padding-top: 8px;
  display: block;
  color: #9d9da0;
}

.card-bordered {
  margin: 8px 4px 0 0;
  border-color: #c4c4c6;
  background-image: none;
  color: #7f0019;
  font-size: 0.75rem;
  line-height: 130%;
  font-weight: 400;
  padding: 0.25rem 0.5rem;
  border: 1px solid #c4c4c6;
}

.card-price {
  margin-top: 8px;
  color: #3c3c43;
  font-size: 1rem;
  font-weight: 700;
}

.card-swatches {
  height: 16px;
  margin-bottom: 8px;
}

.furniture-right-text {
  display: flex;
  justify-content: flex-end;
}

.furniture-right-text a {
  text-decoration: none;
}

.furniture-right h4 {
  text-align: right;
  position: relative;
  width: fit-content;
  color: var(--red-color);
}

.furniture-right h4::after {
  content: "";
  display: block;
  position: absolute;
  right: 50%;
  bottom: -0.4em;
  width: 50%;
  height: 3px;
  background-color: var(--underline-color);
  transition: width 0.2s;
}

.furniture-right h4:hover::after,
.furniture-right h4:hover::before {
  width: 0%;
}

.furniture-right h4:hover {
  color: var(--red-color);
}

.furniture-right h4::before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  bottom: -0.4em;
  width: 50%;
  height: 3px;
  background-color: var(--underline-color);
  transition: width 0.2s;
}

.furniture-right-img {
  width: 100%;
  height: auto;
}
.furniture-right-img:hover {
  cursor: pointer;
  opacity: 0.8;
}

.furniture-right-img img {
  width: 100%;
  height: auto;
  aspect-ratio: 387 / 346;
  object-fit: cover;
}

.seasonal-container {
  background-color: var(--light-gray-color);
}

.seasonal-section {
  padding-top: calc(var(--widget-margin) / 3);
  inline-size: Min(
    calc(100% - calc(2 * var(--widget-margin))),
    var(--max-width)
  );
  max-width: 1920px;
  margin-inline: auto;
}

.seasonal-section h4 {
  font-size: clamp(0.5rem, 2.5vmax, 1.5rem);
  margin-bottom: 1rem;
  color: var(--gray-color);
  font-weight: bold;
  anchor-name: --seasonal-carousel;
}

.seasonal-carousel-wrapper {
  width: 100%;
  position: relative;
}

.seasonal-carousel {
  display: flex;
  justify-content: flex-start;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 0.5rem;
  cursor: grab;
  padding-bottom: 0.5rem;
}

.seasonal-carousel::-webkit-scrollbar {
  display: none;
}

.seasonal-carousel::scroll-button(left),
.seasonal-carousel::scroll-button(right) {
  font-size: clamp(0.5rem, 2.5vmax, 1.2rem);
  translate: -100%;
  content: " →";
  cursor: pointer;
  border: none;
  background-color: inherit;
  position: fixed;
  position-anchor: --seasonal-carousel;
  position-area: right center;
}

.seasonal-carousel::scroll-button(left) {
  translate: -200%;
  content: "←";
}

.seasonal-carousel-card {
  flex: 0 0 auto;
  width: calc((100vmax - 2.5 * var(--widget-margin)) / 4);
  max-width: 460px;
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative;
}

.seasonal-carousel img {
  width: 100%;
  height: auto;
  display: block;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.seasonal-carousel p {
  position: relative;
  display: inline-block;
  font-size: clamp(0.9rem, 1vmax, 1rem);
  margin: 0.6rem 0;
  text-align: left;
  font-weight: bold;
  line-height: 1.4;
  color: var(--gray-color);
  text-decoration: none;
}

.seasonal-carousel p::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -0.2em;
  width: 0;
  height: 3px;
  background-color: var(--underline-color);
  transition: width 0.2s;
}

.seasonal-carousel-card:hover p::after {
  width: 100%;
}

.seasonal-carousel-card:hover img {
  transform: scale(1.01);
}

.stories-section {
  max-width: 1920px;
  inline-size: Min(
    calc(100% - calc(2 * var(--widget-margin))),
    var(--max-width)
  );
  margin-inline: auto;
  margin-bottom: var(--widget-margin);
}

.stories-section h4 {
  font-size: 18px;
  margin-bottom: 1rem;
  color: var(--gray-color);
  font-weight: bold;
  letter-spacing: 0.25px;
}

.stories-grid {
  display: grid;
  align-items: start;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0.5rem;
}

.stories-grid-card {
  text-align: center;
  text-decoration: none;
  color: inherit;
  display: block;
  position: relative;
}

.stories-grid-card:hover .title,
.stories-grid-card:hover .description {
  color: var(--red-color);
}

.stories-grid-card img {
  width: 100%;
  height: auto;
  aspect-ratio: 152 / 187;
  object-fit: cover;
}

.stories-grid-card .title {
  font-size: 1.125rem;
  line-height: 1.555555555555556;
  font-weight: bold;
  color: var(--gray-color);
  text-align: left;
}

.stories-grid-card .description {
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 0.5rem;
  color: var(--gray-color);
  text-align: left;
}

footer {
  width: 100%;
  background-color: var(--gray-color);
  padding: 3rem 0;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

footer li:hover {
  text-decoration: underline;
}

.footer-container {
  width: 100%;
  max-width: 1440px;
  margin: auto;
}

.footer-info {
  display: flex;
  margin: 0;
  width: 100%;
  max-width: 1440px;
  height: auto;
}

.footer-info > div {
  display: flex;
  color: white;
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.footer-info p {
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 1.5rem;
}

.footer-info div:last-child {
  max-width: 300px;
}

.footer-info ul li a {
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
}

.footer-info span {
  display: block;
  margin-bottom: 1rem;
  font-size: 18px;
  line-height: 150%;
  font-weight: 700;
  color: #fff;
}

.footer-links-section {
  margin-bottom: 4rem;
}

.footer-links-section > div {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  margin: 0 1.5rem 1.5rem 1.5rem;
  max-width: 25%;
  justify-content: start;
}

.footer-links-section div:last-of-type div:hover,
.footer-links-section div:last-of-type ul li:hover {
  text-decoration: underline;
}

.footer-links-section div:last-of-type ul li {
  text-decoration: none;
  color: white;
}

.footer-links-section li {
  margin-bottom: 16px;
  list-style-type: none;
}

.footer-links-section a {
  text-decoration: none;
}

.footer-membership-section > div {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 24px;
}
.input-section {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 460px;
}
.input-wrapper {
  border: 1px #9d9da0 solid;
  height: 2.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: 0;
  background-color: #fff;
}

.input-wrapper:focus-within {
  border: 1px var(--red-color) solid;
}

.input-section input {
  background: transparent;
  border: none;
  width: 100%;
  font-size: 1rem;
  color: #6b6b6b;
  outline: none;
  padding: 0;
}

.input-section input::placeholder {
  color: #b0b0b0;
}

.input-section button {
  background: var(--red-color);
  border: none;
  border-radius: 0.125rem;
  width: 100%;
  height: 100%;
  max-width: 40px;
  cursor: pointer;
}

.input-section button a {
  text-decoration: none;
  color: #fff;
}

.footer-logo {
  position: relative;
}

.logo-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.logo-image img {
  width: 4rem;
  height: auto;
}

.logo-section .logo-image {
  padding-left: 4rem;
}

.logo-section .logo-text {
  padding-right: 4rem;
}

.logo-section > div {
  background-color: var(--gray-color);
  color: white;
}

.logo-line {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: 1px;
  background-color: white;
  width: 100%;
  z-index: 0;
}

@media (max-width: 1400px) {
  .furniture-carousel-card .card-image img {
    object-fit: contain;
  }
}

@media (max-width: 1350px) {
  .sale-container {
    grid-template-columns: 1fr;    
    padding: var(--widget-margin) var(--widget-margin);
  }

  .sale-text-container {
    margin-left: 0;
  }

}

@media (max-width: 1250px) {
  :root {
    --widget-margin: 3.5rem;
  }
  .footer-info {
    flex-direction: column-reverse;
    width: 65%;
    margin: 0 auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    align-items: center;
  }

  .footer-links-section {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 4rem;
    align-items: space-between;
  }
  .footer-links-section div:last-child {
    max-width: 200px;
  }

  .logo-section {
    flex-direction: column;
    gap: 1rem;
  }

  .logo-section .logo-image {
    padding-left: 0;
    order: 1;
  }

  .logo-section .logo-text {
    padding-right: 0;
    order: 2;
  }
}

@media (max-width: 1200px) {
  .stories-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 800px) {
  .footer-links-section div:last-child {
    max-width: 150px;
  }
}

@media (max-width: 765px) {
  .furniture-right-text {
    justify-content: flex-start;
  }
  .furniture-section {
    inline-size: 100%;
    padding: 0 var(--widget-margin);
  }

  .furniture-left,
  .furniture-right {
    width: 100%;
    min-width: 0;
  }

  .furniture-left {
    order: 2;
  }

  .furniture-right {
    order: 1;
  }

  .furniture-carousel-card {
    width: 100%;
    min-width: 0;
  }

  .furniture-carousel {
    width: 100%;
  }
}

@media (max-width: 760px) {
  .sale-carousel-card {
    flex: 0 0 300px;
    min-width: 300px;
  }

  .best-seller-grid {
    grid-template-columns: 1fr;
  }

  .hero-carousel-wrapper {
    aspect-ratio: 3 / 4;
  }

  .hero-carousel-card {
    height: 100%;
  }

  .hero-carousel-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .hero-carousel-card-text {
    width: calc(100% - 2.4rem);
  }

  .hero-carousel-card-text h2 {
    font-size: clamp(1.5rem, 4vmax, 2.5rem);
    line-height: 1.2;
  }

  .hero-carousel-card-text a {
    display: block;
    padding-bottom: 0.5rem;
  }
}

@media (max-width: 600px) {
  .stories-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 500px) {
  .navbar-section {
    flex-direction: column;
    gap: 1rem;
  }

  .left-section {
    order: 2;
  }

  .center-section {
    order: 1;
  }

  .right-section {
    order: 3;
  }
}
